<link rel="stylesheet" href="./story-info.scss">

<div class="story-info">
	<p class="path"><a href="/?storyName={{story}}" target="_top">{{path}}</a></p>
	<a href="/?storyName={{story}}&variant={{variant}}" target="_top"><h1>{{story}} - {{label}}</h1></a>
	<p>{{description}}</p>
</div>
