<link rel="stylesheet" href="./{{name_sc}}.scss">
<script src="./{{name_pc}}.ts"></script>

<{{element}} class="block-{{name_sc}}" data-component="{{name_sc}}">
	<span>{{name_sc}}</span>
</{{element}}>
