<link rel="stylesheet" href="./search-results.scss">
<div class="search-results">
	<div class="backdrop"></div>

	<ul class="result-list">
		{{#each storyList}}
			<li class="group">
				<a href="/?storyName={{label}}">
					<span class="row">
						<span class="name">{{label}}</span>
						<span class="file">{{path}}</span>
					</span>
					<span class="right">view all...</span>
				</a>
			</li>
			{{#each variants}}
				<li class="variant">
					<a href="/?storyName={{../label}}&variant={{variant}}">
						<span class="row">
							<span class="label">{{../label}} - {{label}}</span>
							<span class="description">{{description}}</span>
						</span>
					</a>
				</li>
			{{/each}}
		{{/each}}
	</ul>
</div>
