<link rel="stylesheet" href="./story-source.scss">

<div class="story-source">
	{{> ../tabs/tabs tabData }}

	<div class="tab-container">
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{usage}}}</code></pre>
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{data}}}</code></pre>
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{component}}}</code></pre>
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{templateSource}}}</code></pre>
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{styleSource}}}</code></pre>
		<pre class="tab-content" data-tab="{{tabData.tabId}}"><code>{{{scriptSource}}}</code></pre>
	</div>
</div>
