<ul>
  {{#each pages}}
  {{! any data from the page json can be used here as 'data.*'}}
    <li class="page {{# if data.meta.status }}status-{{data.meta.status}}{{/if}} {{# if data.meta.alt }}alt{{/if}}">
      {{# if data.meta.id }}<span class="id">{{data.meta.id}}</span>{{/if}}
      <a href="{{link}}">{{page}}</a><sup>{{data.blocks.length}} blocks</sup>
      {{# if data.meta.notes }}<span class="notes">{{data.meta.notes}}</span>{{/if}}
      <ul class="blocks">
        {{#each data.blocks}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
