{{!
  Production page template
}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="utf-8">
  <title>Muban - {{page}}</title>

  <meta httpEquiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" href="{{publicPath}}favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{publicPath}}asset/bundle.css">

  {{#each componentStyles}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>
<body>
  <div id="app">
    {{{content}}}
  </div>

  <script src="{{publicPath}}asset/bundle.js"></script>

  {{#each componentScripts}}
    <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
