{{!
  Production page template
}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="utf-8">
  <title>Muban - {{page}}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{publicPath}}favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{publicPath}}asset/bundle.css">
</head>
<body>
  <div id="app">
    {{{content}}}
  </div>

  <div data-app-src="{{publicPath}}asset/bundle.js" data-type="app"></div>
  <!-- beautify ignore:start -->
  <script>/* beautify ignore:start */"use strict";!function(){for(var t=document.querySelectorAll("[data-app-src]"),e=0;e<t.length;e++){var r=t[e].dataset.type,a=t[e].dataset.appSrc;if("/"!==a[0])return;var c=document.createElement("script");c.src=a,"polyfill"===r&&c.setAttribute("noModule",""),document.body.appendChild(c)}}()/* beautify ignore:end */</script>
  <!-- beautify ignore:end -->
</body>
</html>
